.forma_bac{
    width: 990px;
}
.body{
    background-color: rgba(229, 230, 230, 0.76);
}
.forma_bac_1{
    background-image: url('../img/forma_img_1.jpg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    transition: 0.7s;
    border-radius: 20px;
    filter: brightness(0.3);
}
.forma_bac_02{
    background-image: url('../img/forma_img_2.jpg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    transition: 0.7s;
    border-radius: 20px;
    filter: brightness(0.3);
}
.forma_bac_03{
    background-image: url('../img/forma_img_4.jpg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    transition: 0.7s;
    border-radius: 20px;
    filter: brightness(0.3);
}
.forma_bac_04{
    background-image: url('../img/forma_img_5.jpg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    transition: 0.7s;
    border-radius: 20px;
    filter: brightness(0.3);
}

.forma_bac_02{
    padding-left: 20px;
    padding-right: 20px;
}
.forma_bac_1:hover{
    filter: brightness(1);
    transition: 0.7s;
   
}
.forma_bac_02:hover{
    filter: brightnesfooter_menus(1);
    transition: 0.7s;
   
}
.forma_bac_03:hover{
    filter: brightness(1);
    transition: 0.7s;
   
}
.forma_bac_04:hover{
    filter: brightness(1);
    transition: 0.7s;
   
}
.man_flex{
    display: flex;
    padding-left: 15px;
padding-right: 15px;
padding: 5px;
    align-items: center;
    background-color: rgba(9, 88, 119, 0.562);
    width: 250px;
    color: aliceblue;
    border-radius: 20px;

}
.man_flex img{
    width: 30px;
}
.man_color{
    background-color: #35b8fc;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.man_flex_1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.forma_bac_1{
    padding-left: 20px;
    padding-right: 20px;
}
.forma_bac_02{
    padding-left: 20px;
    padding-right: 20px;
}
.forma_bac_03{
    padding-left: 20px;
    padding-right: 20px;
}
.forma_bac_04{
    padding-left: 20px;
    padding-right: 20px;
}
.forma_bac_1_1{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
gap: 5px;
}
.forma_bac_1 h2{
    color: aliceblue;
    padding: 20px;
    font-weight: 800;
    font-size: 35px;
}
.forma_h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}
.forma_h1 h1{
    font-size: 60px;
    font-weight: 800;

}
.forma_p{
    display: flex;
    justify-content: center;
    text-align: center;
}
.forma_p p{
    width: 1200px;
    font-size: 25px;
}
.section_forma{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}













.section_forma_2{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.forma_bac_2{
    width: 90%;
}
.forma_bac_1_2{
    background-image: url('../img/forma_img_3.jpg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    transition: 0.7s;
    border-radius: 20px;

    filter: brightness(0.3);
}
.forma_bac_1_2:hover{
    filter: brightness(1);
    transition: 0.7s;

   
}
.man_flex_2{
    display: flex;
    padding-left: 15px;
padding-right: 15px;
padding: 5px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.288);
    width: 250px;
    color: aliceblue;
    border-radius: 20px;
}
.man_flex_2 img{
    width: 30px;
}
.man_color_2{
    background-color: #35b8fc;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.man_flex_1_2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.forma_bac_1_2{
    padding-left: 20px;
    padding-right: 20px;
}.forma_bac_1_1_2{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.forma_bac_1_2 h2{
    color: aliceblue;
    padding: 20px;
    font-weight: 800;
    font-size: 35px;
}
